<template name="login">
    {{> _navBarHead title='登录'}}

    {{#ionView}}
        {{#ionContent}}
            <form>
                <div class="list list-inset">
                    <label class="item item-input">
                        <input type="text" name="phone" placeholder="手机号">
                    </label>
                    <label class="item item-input">
                        <input type="password" name="password" placeholder="密码">
                    </label>
                </div>

                <div class="padding">
                    <input class="button button-block button-positive" value="登录" type="submit"/>
                </div>

            </form>

            <div class="padding">
                <a class="button button-block button-positive"  href="{{pathFor 'register'}}">
                    注册
                </a>
            </div>

        {{/ionContent}}
    {{/ionView}}

</template>