<template name="senGuidePage">
  {{#ionView}}
    {{#ionContent}}
      {{#ionSlideBox}}
        {{#ionSlide class="light-bg"}}
            <img src="/images/guide-page/guide-page1-icon.png" width="100%" height="100%" class="positive"/>
        {{/ionSlide}}
        {{#ionSlide class="dark-bg"}}
            <img src="/images/guide-page/guide-page2-icon.png" width="100%" height="100%" class="positive"/>
        {{/ionSlide}}
        {{#ionSlide class="positive-bg"}}
            <img src="/images/guide-page/guide-page3-icon.png" width="100%" height="100%" class="positive"/>
        {{/ionSlide}}
        {{#ionSlide class="positive-bg"}}
            <img src="/images/guide-page/guide-page4-icon.png" width="100%" height="100%" class="positive"/>
        {{/ionSlide}}
        {{#ionSlide class="positive-bg"}}
            <img src="/images/guide-page/guide-page5-icon.png" width="100%" height="100%" class="positive" data-action="startapp"/>
        {{/ionSlide}}
      {{/ionSlideBox}}
    {{/ionContent}}
  {{/ionView}}
</template>
